
// Platilla inicio
doctype html
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    h1= "Hello World"
    <button onclick="window.location.href='/sucursales'">Ir a Sucursales</button>
    <button onclick="window.location.href='/productos'">Ir a Productos</button>
    <button onclick="window.location.href='/pedidos'">Ir a Pedidos</button>